body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #3C4043;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    border: 80px solid #FF501A;
    border-radius: 40px;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* .tile {
    width: calc(100% / var(--tiles-per-side));
    height: calc(100% / var(--tiles-per-side));
    background-color: rgb(255, 255, 255);
} */

.title-text {
    font-family:'Times New Roman', Times, serif;
    color: gold;
    position: absolute;
    top: 50px;
    padding: 0 5px;
    z-index: 1;
}

.new-grid-button {
    margin: 5px;
    background-color: rgb(101, 168, 245);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-container button {
    flex: 1 1 calc(50% - 10px);
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: #535679;
    border: 1px rgb(0, 0, 0);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    border-radius: 10px;
}